---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css'
import type { ImageMetadata } from 'astro'
import FallbackImage from '../assets/brainnoise.png'
import { SITE_TITLE, SITE_BRAND } from '../consts'

interface Props {
	title: string
	description: string
	image?: ImageMetadata
	pubDate?: Date
	updatedDate?: Date
	isBlogPost?: boolean
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const {
	title,
	description,
	image = FallbackImage,
	pubDate,
	updatedDate,
	isBlogPost = false,
} = Astro.props

const siteSchema = {
    '@context': 'https://schema.org',
    '@type': 'WebSite',
    'name': SITE_BRAND,
    'url': Astro.site,
    'potentialAction': {
        '@type': 'SearchAction',
        'target': `${Astro.site}search?q={search_term_string}`,
        'query-input': 'required name=search_term_string'
    }
};

const structuredData = {
	'@context': 'https://schema.org',
	'@type': 'BlogPosting',
	mainEntityOfPage: {
		'@type': 'WebPage',
		'@id': canonicalURL.href,
	},
	headline: title,
	description: description,
	image: new URL(image.src, Astro.site).href,
	author: {
		'@type': 'Person',
		name: 'Enio',
	},
	publisher: {
		'@type': 'Organization',
		name: SITE_TITLE,
		logo: {
			'@type': 'ImageObject',
			url: new URL('/logo.svg', Astro.site).href,
		},
	},
	datePublished: pubDate,
	dateModified: updatedDate || pubDate,
}
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/logo.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

<!-- Pagefind -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@700&display=swap" rel="stylesheet">

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image.src, Astro.url)} />

<!-- Umami Analytics -->
<script
	defer
	src="https://analytics-umami-kohl.vercel.app/script.js"
	data-website-id="b192b7c6-5a62-490a-a78b-32585d1544ec"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17373220374"></script>
<script>
	window.dataLayer = window.dataLayer || []
	function gtag() {
		dataLayer.push(arguments)
	}
	gtag('js', new Date())

	gtag('config', 'AW-17373220374')
</script>

<!-- Structured Data -->
{
    isBlogPost ? (
        <script type="application/ld+json" set:html={JSON.stringify(structuredData)} />
    ) : (
        <script type="application/ld+json" set:html={JSON.stringify(siteSchema)} />
    )
}
