---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
const locale = Astro.currentLocale;
---

<header>
	<nav>
		<div class="nav-left">
			<h2><a href={`/${locale}/`}>{SITE_TITLE}</a></h2>
			<div class="internal-links">
				<HeaderLink href={`/${locale}/about/`}>About</HeaderLink>
				<HeaderLink href={`/${locale}/categorias/`}>Categorias</HeaderLink>
				<HeaderLink href={`/${locale}/search/`}>Busca</HeaderLink>
			</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: #000000;
		border-bottom: 2px solid rgb(var(--black));
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
	}
	.nav-left {
		display: flex;
		align-items: center;
		gap: 1rem;
		flex-shrink: 0; /* Impede que os links encolham */
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	.internal-links {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	.internal-links a {
		padding: 1em 0.5em;
		color: rgb(var(--gray-dark));
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	.internal-links a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
