---
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';

export interface Props {
  post: any;
  number: string;
}

const { post, number } = Astro.props;
---

<!-- Componente de Card para Post -->
<li>
  <div class="card">
    <a href={`/blog/${post.id}/`}>
      <span class="label">{number}</span>
      {post.data.ads && <span class="label is-ad">ads</span>}
      {post.data.heroImage && (
        <Image width={720} height={360} src={post.data.heroImage} alt="" />
      )}
      <div class="content">
        <h4 class="title">{post.data.title}</h4>
        <p class="description">{post.data.description}</p>
        <p class="date">
          <FormattedDate date={post.data.pubDate} />
        </p>
        {post.data.tags && (
          <div class="tags">
            {post.data.tags.map((tag) => (
              <span class="tag">#{tag}</span>
            ))}
          </div>
        )}
      </div>
    </a>
  </div>
</li>

<style>
  li {
    position: relative;
    list-style-type: none;
  }

  .card {
    height: 100%;
  }

  .card a {
    display: block;
    text-decoration: none;
    height: 100%;
  }

  .card a:hover .title,
  .card a:hover .description,
  .card a:hover .date,
  .card a:hover .tags {
    color: var(--green-bright);
  }

  .card a:hover img {
    box-shadow: var(--box-shadow);
  }

  li .label {
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    background-color: var(--green);
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.25rem 0.75rem;
    border-radius: 12px;
    line-height: 1.5;
    z-index: 1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }

  li .label.is-ad {
    background-color: #ffd700; /* Cor dourada */
    left: unset;
    right: -0.75rem;
  }

  img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
    transition: 0.2s ease;
  }

  .content {
    padding: 0 1rem;
  }

  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }

  .date {
    margin: 0;
    color: rgb(var(--black));
  }

  .description {
    margin: 0.5rem 0 0;
    color: rgb(var(--gray-dark));
    font-size: 0.9rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .tag {
    font-size: 0.9rem;
    color: rgb(var(--black));
    background-color: transparent;
    padding: 0;
    border: none;
  }
</style>